body {
    /* Code here. */
    font-family: arial, sans-serif;
    margin: 0;
  }
  
  
  a {
    text-decoration: none;
  }
  
  .navigation {
    /*The elements inside that have flex applied, are arranged centrally and vertically.
  The elements inside that have flex applied, are dispatched on the left/right.*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px 16px 10px;
  }
  
  .navigation a {
    margin-left: 15px;
    font-size: 13px;
    line-height: 16px;
    color: #333;
  }
  
  .navigation a:hover:not(.btn) {
    opacity: 0.85;
    text-decoration: underline;
  }
  
  a.btn-apps {
    /*Here, I don't just use .btn-apps but a.btn-apps. If we use just a class here, other higher priority properties (.navigation a" may get applied. that's why we use the tag and class together to rise the priority higher.*/
    display: flex;
    padding: 3px;
    color: #737373;
  }
  
  a.btn-sign-in {
    background-color: #4387fd;
    padding: 8px 13px;
    border-radius: 2px;
    font-weight: bold;
    line-height: 14px;
    color: white;
  }
  
  a.btn-sign-in:active {
    background-color: #3c7ae4;
    box-shadow: inset 0 20px 0 rgba(0,0,0,.15);
  }
  
  
  .nav-right {
    display: flex;
    /*elements are centered at the y-axis or cross-axis.*/
    align-items: center;
  }
  
  .content {
    padding-top: 136px;
    text-align: center;
  }
  
  .form-search-wrap {
    margin: 24px auto 0 auto;
    width: 50%;
    max-width: 584px;
    min-width: 428px;
    position: relative;
  }
  
  .form-search {
    padding: 5px 16px;
    outline: none;
    border: 0;
    border-radius: 2px;
    width: calc(100% - 32px);
    font-size: 16px;
    line-height: 34px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: .2s;
  }
  
  .form-search:hover, .form-search:focus {
    /*By hovering the mouse over it or by clicking the form, make sure that the shadows are slightly longer, when the form is in focus.*/
   box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,0.08);
  }
  
  .btn-voice {
    position: absolute;
    /*It's 10px from above.
  It's 10px from the right.*/
    top: 10px;
    right: 12px;
    color: #4387fd;
  }
  
  .buttons-wrap {
    margin-top: 40px;
  }
  
  .btn-secondary {
    margin: 0 4px;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    color: #757575;
    background-color: #f2f2f2;
  }
  
  .btn-secondary:hover {
    border-color: #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  
  .footer {
    /*positioned relative to the initial viewport*/
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
    width: 100vw;
    background-color: #f2f2f2;
  }
  
  .footer-right {
    float: right;
    margin-right: 25px;
  }
  
  .footer a {
    margin-left: 25px;
    font-size: 13px;
    line-height: 40px;
    color: #666;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  